GHOST_ADMIN_URL=https://lowvelocity.org
GHOST_ADMIN_KEY=your_admin_api_key
SITE_URL=https://lowvelocity.org
SITE_TITLE=Low Velocity
SITE_LOGO=/assets/site/avatar.jpg
MICROBLOG_URL=https://micro.blog/bryan
REL_ME_MASTODON=https://urbanists.social/@bryan
REL_ME_BLUESKY=https://bsky.app/profile/afterword.blog
ALBUM_WHALE_URL=https://albumwhale.com/bryan/listening-now
